<nav-bar></nav-bar>
<div class="wishlist">
  <h2>Koszyk</h2>
  <table class="wishlist-table">
    <thead>
    <tr class="wishlist-header">
      <th style="text-align: left">NAZWA BILETU</th>
      <th>CENA</th>
      <th>ILOŚĆ</th>
      <th>W SUMIE RAZEM</th>
      <th>USUŃ Z KOSZYKA</th>
    </tr>
    </thead>
    <tbody>
    <tr class="wishlist-item">
      <td class="wishlist-item-name" [routerLink]="'event/detail'">Example Item</td>
      <td class="wishlist-item-price">$19.99</td>
      <td class="wishlist-item-quantity">1</td>
      <td class="wishlist-item-sum">$19.99</td>
      <td class="wishlist-item-actions">
        <div class="align-center-row">
          <button class="btn-wishlist btn-delete">
            <i class="fa-solid fa-trash-can icon"></i>
          </button>
        </div>
      </td>
    </tr>
    <!-- Add more wishlist items here -->
    </tbody>
  </table>
</div>
