.wishlist {
  margin: 100px 20px;
  padding: 0 100px;
}

.wishlist-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.wishlist-table th {
  background-color: var(--third-color);
  color: var(--main-background);
  padding: 10px;
  text-align: center;
}

.wishlist-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.wishlist-item-price,.wishlist-item-quantity,.wishlist-item-sum{
  text-align: center;
}

.wishlist-item-name {
  font-size: 14px;
  color: #222;
}

.wishlist-item-actions {
  text-align: center;
}

.btn-wishlist {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
  min-width: 80px;
  min-height: 30px;
  transition: all 0.2s ease-in-out;
}

.btn-wishlist p {
  color: #222;
}

.btn-wishlist:hover {
  color: white;
  background-color: var(--main-bg-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--main-bg-color);
  transition: all 0.5s ease-in-out;
}

.btn-delete:hover {
  color: white;
  background-color: #963939;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #963939;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 1100px) {
  .btn-wishlist {
    padding: 0px 5px;
    min-width: 50px;
    min-height: 25px;
    margin: 0 5px;
  }
  .icon {
    font-size: 10px;
  }
}

@media screen and (max-width: 574px) {
  .btn-wishlist {
    padding: 0px 5px;
    min-width: 50px;
    min-height: 25px;
    margin: 0 5px;
  }
  .icon {
    font-size: 10px;
  }
}

@media screen and (max-width: 680px) {
  .btn-wishlist {
    padding: 0px 5px;
    min-width: 50px;
    min-height: 25px;
    margin: 5px 0px;
  }
  .icon {
    font-size: 10px;
  }
  .align-center-row {
    flex-direction: column;
  }
}
