<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted" style="background-color: var(--main-background)">
  <!-- Section: Social media -->
<!--  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom" style="background-color: var(&#45;&#45;main-bg-color); color: white">-->
<!--    &lt;!&ndash; Left &ndash;&gt;-->
<!--    <div class="me-5 d-none d-lg-block">-->
<!--      <span>Znajdziesz nas na:</span>-->
<!--    </div>-->
<!--    &lt;!&ndash; Left &ndash;&gt;-->

<!--    &lt;!&ndash; Right &ndash;&gt;-->
<!--    <div>-->
<!--      <a href="" class="me-4 text-reset">-->
<!--        <i class="fab fa-facebook-f"></i>-->
<!--      </a>-->
<!--      <a href="" class="me-4 text-reset">-->
<!--        <i class="fab fa-twitter"></i>-->
<!--      </a>-->
<!--      <a href="" class="me-4 text-reset">-->
<!--        <i class="fab fa-google"></i>-->
<!--      </a>-->
<!--      <a href="" class="me-4 text-reset">-->
<!--        <i class="fab fa-instagram"></i>-->
<!--      </a>-->
<!--      <a href="" class="me-4 text-reset">-->
<!--        <i class="fab fa-linkedin"></i>-->
<!--      </a>-->
<!--      <a href="" class="me-4 text-reset">-->
<!--        <i class="fab fa-github"></i>-->
<!--      </a>-->
<!--    </div>-->
<!--    &lt;!&ndash; Right &ndash;&gt;-->
<!--  </section>-->
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="" style="background-color: var(--main-background)">
    <div class="container text-center text-md-start mt-5" style="background-color: var(--main-background)">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>BiletSfera
          </h6>
          <p>
            Serwis BiletSfera.pl jest oficjalnym kanałem sprzedaży biletów na najważniejsze wydarzenia kulturalne, muzyczne i sportowe. Koncerty artystów polskich i zagranicznych pojawiają się na stronie na bieżąco, dlatego nie ominą Cię najważniejsze imprezy.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Wykorzystane technologie
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Node.js</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Express.js</a>
          </p>
          <p>
            <a href="#!" class="text-reset">MongoDB</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Kontakt</h6>
          <p><i class="fas fa-home me-3"></i> Tarnów, Polska</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            marcinkrol1@onet.pl
          </p>
          <p><i class="fas fa-phone me-3"></i> + 48 693 977 724</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: var(--main-bg-color); color: white">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="#">Marcin Król</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
