<div class="main">
  <nav-bar></nav-bar>
  <carousel></carousel>
  <div class="content">
    <event-categories></event-categories>
    <div class="spacer"></div>

    <h1>Najpopularniejsze wydarzenia</h1>
    <latest-events></latest-events>
    <div class="spacer"></div>

    <div class="local">
      <h1>Wydarzenia w twoim mieście</h1>
        <div class="align-center-row" style="display: flex; flex-wrap: wrap;">
<!--          <event-card></event-card>-->
<!--          <event-card></event-card>-->
<!--          <event-card></event-card>-->
<!--          <event-card></event-card>-->
<!--          <event-card></event-card>-->
<!--          <event-card></event-card>-->
<!--          <event-card></event-card>-->
<!--          <event-card></event-card>-->
<!--          <event-card></event-card>-->
<!--          <event-card></event-card>-->
          <div *ngFor="let item of items$">
            <event-card [image]="item.image" [text]="item.text">
            </event-card>
          </div>
        </div>
      <div class="align-center-column">
        <button>Zobacz więcej</button>
      </div>
    </div>
    <!--Content end-->
  </div>
  <custom-footer></custom-footer>
</div>
