<nav-bar></nav-bar>
<div class="wishlist">
  <h2>Polubione</h2>
  <div class="wishlist-items">
    <div class="wishlist-header">
      <div class="wishlist-header-name">Nazwa</div>
      <div class="wishlist-header-date">Data polubienia</div>
      <div class="wishlist-header-actions"></div>
    </div>
    <div class="wishlist-item">
      <div class="wishlist-item-name" [routerLink]="'event/detail'">Example Item</div>
      <div class="wishlist-item-date">20.04.2000</div>
      <div class="wishlist-item-actions">
        <div class="align-center-row">
          <button class="btn-wishlist">
            <i class="fa-regular fa-heart icon"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- Add more wishlist items here -->
  </div>
</div>
