<div id="carousel" class="custom-carousel">
  <div class="custom-carousel-inner">
    <div class="custom-carousel-item" *ngFor="let item of items">
      <event-card class="custom-carousel-image" [image]="item.image" [text]="item.text" [tickets]="item.tickets">
      </event-card>
    </div>
    <!-- Add more carousel items here -->
  </div>
  <button class="carousel-control-prev">
    <i class="fas fa-chevron-left"></i>
  </button>
  <button class="carousel-control-next">
    <i class="fas fa-chevron-right"></i>
  </button>
</div>
