<mat-toolbar class="bg" style="height: 70px">
  <a class="logo" [routerLink]="['/']"><img src="assets/logo.png">BiletSfera</a>
  <div class="search-bar">
    <input type="text" placeholder="Search" class="search-bar__input">
    <button class="search-bar__button">
      <i class="fa fa-search"></i>
    </button>
  </div>
<!--  <a class="margin-right" mat-button href="#" [routerLink]="['/']">Home</a>-->
<!--  <a class="margin-right" mat-button [routerLink]="['/about']">O autorze</a>-->

<!--  <button mat-button [matMenuTriggerFor]="menu">Menu</button>-->
<!--  <mat-menu #menu="matMenu" class="customize">-->
<!--    <button class="menu-element" [routerLink]="['/user/liked']">Ulubione przepisy</button>-->
<!--    <button class="menu-element" [routerLink]="['/userRecipes']">Przepisy użytkowników</button>-->
<!--    <button class="menu-element" [routerLink]="['/addRecipe']">Dodaj przepis</button>-->
<!--  </mat-menu>-->

  <div class="spacer"></div>

  <div class="tickets"><ul class="navbar-nav">
    <!-- Notification dropdown -->
    <li mdbDropdown class="nav-item dropdown">
      <div class="nav-column">
        <a class="nav-link dropdown-toggle hidden-arrow"
           style="padding: 0; margin: 0"
           href="#"
           id="navbarDropdownMenuLinkLiked"
           role="button"
           mdbDropdownToggle
           aria-expanded="false">
          <i class="fas fa-heart"></i>
          <span class="badge rounded-pill badge-notification bg-danger" style="background-color: var(--main-bg-color)!important;">0</span>
        </a>
        <a class="nav-a">Polubione</a>
      </div>
      <ul mdbDropdownMenu
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
      >
      </ul>
    </li>
    <!-- Notification dropdown -->
  </ul>
  </div>

  <div class="tickets"><ul class="navbar-nav">
    <!-- Notification dropdown -->
    <li mdbDropdown class="nav-item dropdown">
      <div class="nav-column">
        <a class="nav-link dropdown-toggle hidden-arrow"
           style="padding: 0; margin: 0"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        mdbDropdownToggle
        aria-expanded="false">
        <i class="fas fa-ticket"></i>
        <span class="badge rounded-pill badge-notification bg-danger" style="background-color: var(--main-bg-color)!important;">0</span>
      </a>
      <a class="nav-a">Bilety</a>
      </div>
      <ul mdbDropdownMenu
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
      >
      </ul>
    </li>
    <!-- Notification dropdown -->
  </ul>
  </div>

  <div class="tickets"><ul class="navbar-nav">
    <!-- Notification dropdown -->
    <li mdbDropdown class="nav-item dropdown">
      <div class="nav-column">
        <a class="nav-link dropdown-toggle hidden-arrow"
           style="padding: 0; margin: 0"
           href="#"
           id="navbarDropdownMenuLinkProfile"
           role="button"
           mdbDropdownToggle
           aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <a class="nav-a">Profil</a>
      </div>
      <ul mdbDropdownMenu
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
      >
      </ul>
    </li>
    <!-- Notification dropdown -->
  </ul>
  </div>

<!--  <div style="color: white" class="d-flex">-->
<!--    <div class="center">-->
<!--      <a class="nav-text" style="width: 140px" href="#" [routerLink]="['/login']">Zaloguj się</a>-->
<!--      <a class="nav-text" style="width: 140px" href="#" [routerLink]="['/signup']">Zarejestruj się</a>-->
<!--    </div>-->
<!--  </div>-->


</mat-toolbar>


<!--&lt;!&ndash; Navbar &ndash;&gt;-->
<!--<mat-toolbar class="bg toolbar-fixed div-center">-->
<!--  <h2 class="logo"><img src="assets/logo.png">BiletSfera</h2>-->
<!--  <a class="margin-right" mat-button>Kontakt</a>-->

<!--&lt;!&ndash;  <button mat-button>Menu</button>&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-menu #menu="matMenu" class="customize">&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="menu-element" >Ulubione przepisy</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="menu-element" >Przepisy użytkowników</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="menu-element" >Dodaj przepis</button>&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-menu>&ndash;&gt;-->

<!--  <div class="spacer"></div>-->

<!--&lt;!&ndash;  <div style="color: white" class="d-flex" *ngIf="!authService.isLoggedIn()">&ndash;&gt;-->
<!--&lt;!&ndash;    <a class="margin-right" mat-raised-button style="background-color: rgb(108, 178, 90);" href="#" [routerLink]="['/login']">Zaloguj się</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a class="margin-right" mat-raised-button style="background-color: rgb(108, 178, 90);" href="#" [routerLink]="['/signup']">Zarejestruj się</a>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <a class="margin-right" mat-raised-button style="background-color: rgb(108, 178, 90);" *ngIf="authService.isLoggedIn()" (click)="signOut()">Wyloguj</a>&ndash;&gt;-->

<!--    <ul class="navbar-nav">-->
<!--      &lt;!&ndash; Notification dropdown &ndash;&gt;-->
<!--      <li mdbDropdown class="nav-item dropdown">-->
<!--        <a-->
<!--          class="nav-link dropdown-toggle hidden-arrow"-->
<!--          href="#"-->
<!--          id="navbarDropdownMenuLink"-->
<!--          role="button"-->
<!--          mdbDropdownToggle-->
<!--          aria-expanded="false"-->
<!--        >-->
<!--          <i class="fas fa-ticket"></i>-->
<!--          <span class="badge rounded-pill badge-notification bg-danger">0</span>-->
<!--        </a>-->
<!--        <ul mdbDropdownMenu-->
<!--            class="dropdown-menu dropdown-menu-end"-->
<!--            aria-labelledby="navbarDropdownMenuLink"-->
<!--        >-->
<!--        </ul>-->
<!--      </li>-->
<!--      &lt;!&ndash; Notification dropdown &ndash;&gt;-->
<!--    </ul>-->
<!--  <mat-icon class="profile">person</mat-icon>-->

<!--</mat-toolbar>-->
