<mat-toolbar class="bg toolbar-fixed" style="height: 70px; padding: 5px">
  <a class="logo" [routerLink]="['/']"><img src="assets/logo.png">BiletSfera</a>
  <div class="search-bar">
    <input type="text" placeholder="Search" class="search-bar__input">
    <button class="search-bar__button">
      <i class="fa fa-search"></i>
    </button>
  </div>

  <div class="spacer"></div>

  <div class="tickets"><ul class="navbar-nav">
    <!-- Notification dropdown -->
    <li mdbDropdown class="nav-item dropdown">
      <div class="nav-column">
        <a class="nav-link dropdown-toggle hidden-arrow"
           style="padding: 0; margin: 0"
           href="#"
           id="navbarDropdownMenuLinkLiked"
           role="button"
           mdbDropdownToggle
           aria-expanded="false">
          <i class="fas fa-heart"></i>
          <span class="badge rounded-pill badge-notification bg-danger" style="background-color: var(--main-bg-color)!important;">0</span>
        </a>
        <a class="nav-a">Polubione</a>
      </div>
      <ul mdbDropdownMenu
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
      >
      </ul>
    </li>
    <!-- Notification dropdown -->
  </ul>
  </div>

  <div class="tickets"><ul class="navbar-nav">
    <!-- Notification dropdown -->
    <li mdbDropdown class="nav-item dropdown">
      <div class="nav-column">
        <a class="nav-link dropdown-toggle hidden-arrow"
           style="padding: 0; margin: 0"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        mdbDropdownToggle
        aria-expanded="false">
        <i class="fas fa-ticket"></i>
        <span class="badge rounded-pill badge-notification bg-danger" style="background-color: var(--main-bg-color)!important;">0</span>
      </a>
      <a class="nav-a">Bilety</a>
      </div>
      <ul mdbDropdownMenu
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
      >
      </ul>
    </li>
    <!-- Notification dropdown -->
  </ul>
  </div>

<!--  <div class="tickets" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">-->
<!--    <div class="nav-column"><mat-icon class="icon">person</mat-icon>-->
<!--      <p class="nav-a">Profil</p></div>-->
<!--  </div>-->
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="nav-menu">
      <span>Zaloguj się</span>
    </button>
    <button mat-menu-item>
      <span>Zarejestruj się</span>
    </button>
  </mat-menu>

<!--  <div class="tickets">-->
<!--    <div class="nav-column"><mat-icon class="icon">person</mat-icon>-->
<!--      <p class="nav-a">Profil</p></div>-->
<!--  </div>-->
  <nav class="dropDownMenuNav">
      <ul>
        <li style="width: 175px">
          <div class="nav-div">
            <div class="nav-column">
              <mat-icon class="icon">person</mat-icon>
              <p class="nav-a">Profil</p>
            </div>
          </div>
          <ul style="text-align: left">
            <li style="box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);"><a href="#">Wydarzenia</a></li>
            <li><a href="#">Bilety</a></li>
            <li><a href="#">Polubione</a></li>
            <li><a href="#">Obserwowane</a></li>
            <li style="box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);"><a href="#">Zaloguj się</a></li>
            <li><a href="#">Zarejestruj się</a></li>
          </ul>
        </li>
      </ul>
    </nav>


</mat-toolbar>



<!--&lt;!&ndash; Navbar &ndash;&gt;-->
<!--<mat-toolbar class="bg toolbar-fixed div-center">-->
<!--  <h2 class="logo"><img src="assets/logo.png">BiletSfera</h2>-->
<!--  <a class="margin-right" mat-button>Kontakt</a>-->

<!--&lt;!&ndash;  <button mat-button>Menu</button>&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-menu #menu="matMenu" class="customize">&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="menu-element" >Ulubione przepisy</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="menu-element" >Przepisy użytkowników</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="menu-element" >Dodaj przepis</button>&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-menu>&ndash;&gt;-->

<!--  <div class="spacer"></div>-->

<!--&lt;!&ndash;  <div style="color: white" class="d-flex" *ngIf="!authService.isLoggedIn()">&ndash;&gt;-->
<!--&lt;!&ndash;    <a class="margin-right" mat-raised-button style="background-color: rgb(108, 178, 90);" href="#" [routerLink]="['/login']">Zaloguj się</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a class="margin-right" mat-raised-button style="background-color: rgb(108, 178, 90);" href="#" [routerLink]="['/signup']">Zarejestruj się</a>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <a class="margin-right" mat-raised-button style="background-color: rgb(108, 178, 90);" *ngIf="authService.isLoggedIn()" (click)="signOut()">Wyloguj</a>&ndash;&gt;-->

<!--    <ul class="navbar-nav">-->
<!--      &lt;!&ndash; Notification dropdown &ndash;&gt;-->
<!--      <li mdbDropdown class="nav-item dropdown">-->
<!--        <a-->
<!--          class="nav-link dropdown-toggle hidden-arrow"-->
<!--          href="#"-->
<!--          id="navbarDropdownMenuLink"-->
<!--          role="button"-->
<!--          mdbDropdownToggle-->
<!--          aria-expanded="false"-->
<!--        >-->
<!--          <i class="fas fa-ticket"></i>-->
<!--          <span class="badge rounded-pill badge-notification bg-danger">0</span>-->
<!--        </a>-->
<!--        <ul mdbDropdownMenu-->
<!--            class="dropdown-menu dropdown-menu-end"-->
<!--            aria-labelledby="navbarDropdownMenuLink"-->
<!--        >-->
<!--        </ul>-->
<!--      </li>-->
<!--      &lt;!&ndash; Notification dropdown &ndash;&gt;-->
<!--    </ul>-->
<!--  <mat-icon class="profile">person</mat-icon>-->

<!--</mat-toolbar>-->
