<div class="main">
  <h1>Kategorie wydarzeń</h1>
  <div class="popular">
    <button class="cat-button" [routerLink]="'/music'">
      <span class="button-icon">
        <i class="fa-solid fa-music icon"></i>
      </span>
      <span class="cat-name">Muzyka</span>
    </button>
    <button class="cat-button">
      <span class="button-icon">
        <i class="fa-solid fa-film icon"></i>
      </span>
      <span class="cat-name">Kino</span>
    </button>
    <button class="cat-button">
      <span class="button-icon">
        <i class="fa-solid fa-masks-theater icon"></i>
      </span>
      <span class="cat-name">Teatr</span>
    </button>
    <button class="cat-button">
      <span class="button-icon">
        <i class="fa-solid fa-briefcase icon"></i>
      </span>
      <span class="cat-name">Targi</span>
    </button>
    <button class="cat-button">
      <span class="button-icon">
        <i class="fa-solid fa-people-group icon"></i>
      </span>
      <span class="cat-name">Konwenty</span>
    </button>
    <button class="cat-button">
      <span class="button-icon">
        <i class="fa-solid fa-volleyball icon"></i>
      </span>
      <span class="cat-name">Sport</span>
    </button>
    <button class="cat-button">
      <span class="button-icon">
        <i class="fa-solid fa-eye icon"></i>
      </span>
      <span class="cat-name">Zwiedzanie</span>
    </button>
    <button class="cat-button">
      <span class="button-icon">
        <i class="fa-solid fa-bars icon"></i>
      </span>
      <span class="cat-name">Inne</span>
    </button>
  </div>
</div>
