
<div class="container" [class.right-panel-active]="isRightPanelActive">
  <div class="form-container sign-up-container">
    <a class="logo" [routerLink]="['/']"><img src="assets/logo.png">BiletSfera</a>
    <form action="#">
      <h1>Utwórz konto</h1>
<!--      <div class="social-container">-->
<!--        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>-->
<!--        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>-->
<!--        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>-->
<!--      </div>-->
<!--      <span>or use your email for registration</span>-->
      <input type="text" placeholder="Name" />
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <main-button [text]="'Zarejestruj się'" [buttonClass]="'btn btn-primary px-5 py-3 mt-2 w-250'"></main-button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <a class="logo" [routerLink]="['/']"><img src="assets/logo.png">BiletSfera</a>
    <form action="#">
      <h1>Zaloguj się</h1>
<!--      <div class="social-container">-->
<!--        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>-->
<!--        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>-->
<!--        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>-->
<!--      </div>-->
<!--      <span>or use your account</span>-->
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <a href="#">Zapomniałeś hasła?</a>
<!--      <button (click)="signIn()">Zaloguj się</button>-->
      <main-button [text]="'Zaloguj się'" [buttonClass]="'btn btn-primary px-5 py-3 mt-2 w-250'"></main-button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Witaj!</h1>
        <p>Masz już konto? Zaloguj się, aby móc korzystać z dodatkowych funkcji serwisu.</p>
        <button class="ghost" id="signIn" (click)="toggleRightPanel()">Zaloguj się</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Witaj!</h1>
        <p>Nie masz jeszcze konta? Wprowadź swoje dane i dołącz już dziś.</p>
        <button class="ghost" id="signUp" (click)="toggleRightPanel()">Zarejestruj się</button>
      </div>
    </div>
  </div>
</div>

<!--<div class="wrapper fadeInDown">-->
<!--  <div id="formContent">-->

<!--    <div class="fadeIn first">-->
<!--      <h2>Logowanie</h2>-->
<!--    </div>-->

<!--    <form action="post" autocomplete="off" method="POST">-->
<!--      <input type="text" class="fadeIn second"-->
<!--             name="username" placeholder="Nazwa" title="Login">-->

<!--      <div class="error">Pole jest puste</div>-->

<!--      <input type="password" class="fadeIn third"-->
<!--             name="password" placeholder="Hasło" title="Password">-->

<!--      <div class="error">Pole jest puste</div>-->

<!--      <button (click)="signIn()" class="fadeIn fourth" type="button" title="Przycisk zaloguj">-->
<!--        Zaloguj się-->
<!--      </button>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
<!--CREDITS: https://codepen.io/FlorinPop17/pen/vPKWjd-->

