.main{
  margin-top: 100px;
}

/*Event bar*/
.event-bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.manager-btn{
  margin: 0;
  border-bottom: none;
  cursor: pointer;
  transition: all 0.5s ease;
  border-bottom: 3px solid transparent;
}

.manager-btn:hover{
  /*border-top: 0.5px solid transparent;*/
  border-bottom: 3px solid #aa99be;
  transition: all 0.5s ease;
}

.manager-btn-active{
  margin: 0;
  border-bottom: 3px solid var(--main-bg-color);
}

.manager-btn h3{
  padding: 0 15px;
  /*color: #7d7d7d;*/
  text-transform: uppercase;
}

/*Active events*/
.calendar-img{
  width: 200px;
  height: auto;
}

.align-center-column-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.panel-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 100px;
}
.panel-div h4{
  margin: 5px 10px;
  text-transform: uppercase;
}

.missing-text h4{
  margin: 10px 10px;
  text-transform: none;
  color: var(--fourth-color);
}

.create-event-btn{
  background-color: var(--third-color);
  color: white;
  transition: all 0.3s ease;
  padding: 2px 10px;
}


.create-event-btn:hover{
  background-color: var(--third-color-hover);
  color: white;
  transform: scale(1.1);
  transition: all 0.3s ease;
}


/* Event */
.event {
  display: flex;
  align-items: center;
  margin: 0 10px;
  border: 1px solid #ddd;
  padding: 0;
  max-height: 175px;
  width: 100%;
}

.event-img {
  width: auto;
  max-height: 175px; /* Adjusted to maintain aspect ratio */
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.content-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 150px;
  margin: 20px;
}

.event-info {
  color: var(--third-color);
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
}

.event p{
  font-size: 18px;
}

.edit-btn {
  background-color: var(--third-color);
  color: white;
  transition: all 0.3s ease;
  padding: 5px 20px;
  cursor: pointer;
  align-self: flex-start;
}

.edit-btn:hover {
  background-color: var(--third-color-hover);
}

.panel-div h3{
  text-transform: uppercase;
}
