<nav-bar></nav-bar>
<!--Banner-->
<div class="main">
  <div class="banner">
  <div class="banner-row-space">
    <div><h1>{{ title }}</h1></div>
    <div>
      <i class="fa-regular fa-heart icon icon-big" data-tooltip="Polub"></i>
      <i class="fa-regular fa-bell icon icon-big" data-tooltip="Obserwuj"></i>
    </div>
  </div>
  <div class="banner-row" id="about">
    <span><i class="fas fa-calendar icon" data-tooltip="Data"></i>{{ date }}</span>
    <span><i class="fas fa-location icon" data-tooltip="Lokalizacja"></i>{{ location }}</span>
<!--    TODO: organizator do modelu dodać-->
    <span><i class="fa-solid fa-user-tie icon" data-tooltip="Organizator"></i>COPA - Agencja Artystyczna</span>
  </div>
  <div class="banner-line"></div>
</div>

<!--Content-->
  <div class="content">
    <div class="content-left" *ngIf="!isScreenSmall">
      <div class="side-nav">
        <div class="card">
          <img [src]="image" alt="Card Image">
        </div>
        <div class="links">
          <ul>
            <li (click)="scrollTo('about')"><a>O wydarzeniu</a></li>
            <li (click)="scrollTo('tickets')"><a>Bilety</a></li>
            <li (click)="scrollTo('additional')"><a>Dodatkowe informacje</a></li>
            <li (click)="scrollTo('artists')"><a>Artyści</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content-right">
      <div class="description" id="tickets">
        <h2>O wydarzeniu</h2>
        <p>{{text}}</p>
      </div>
      <div class="tickets">
        <h2>Bilety</h2>
        <div class="ticket-items">
          <div *ngFor="let ticket of tickets" class="ticket">
            <div class="left-vertical"></div>
            <div class="content-ticket">
              <div class="align-center-column" style="max-width: 500px; flex-wrap: wrap">
                <h3>{{ ticket.type }}</h3>
              </div>
              <div class="content-left">
                <p style="font-weight: 500">{{ ticket.dayOfWeek }}</p>
                <p>{{ ticket.date }}</p>
                <p>{{ location }}</p>
              </div>
              <div class="content-line"></div>
              <div class="content-right">
                <h2>Od {{ ticket.price }} zł</h2>
                <main-button routerLink="event/detail" [text]="'Kup bilet'" [buttonClass]="'mt-3 btn btn-special'" [icon]="'fa-ticket'"></main-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End of tickets-->
      <div class="additional-info">
        <h2 id="additional">Dodatkowe informacje</h2>
        <p>10 czerwca zapraszamy do Amfiteatru w Płocku, gdzie w ciągu jednego wieczoru wystąpią na
          czterech koncertach: Ralph Kaminski, Mrozu, Vito Bambino, Sorry Boys.</p>
        <p>10 czerwca zapraszamy do Amfiteatru w Płocku, gdzie w ciągu jednego wieczoru wystąpią na
          czterech koncertach: Ralph Kaminski, Mrozu, Vito Bambino, Sorry Boys.</p>
        <p>10 czerwca zapraszamy do Amfiteatru w Płocku, gdzie w ciągu jednego wieczoru wystąpią na
          czterech koncertach: Ralph Kaminski, Mrozu, Vito Bambino, Sorry Boys.</p>
      </div>
      <div class="artists">
        <h2 id="artists">Artyści</h2>
        <div class="slider-container">
          <div class="slider">
            <div class="artist-circle"></div>
            <div class="artist-circle"></div>
            <div class="artist-circle"></div>
            <div class="artist-circle"></div>
            <div class="artist-circle"></div>
            <div class="artist-circle"></div>
            <div class="artist-circle"></div>
            <div class="artist-circle"></div>
            <div class="artist-circle"></div>
            <div class="artist-circle"></div>
            <div class="artist-circle"></div>
            <div class="artist-circle"></div>
            <div class="artist-circle"></div>
            <!-- Add more artist circles here -->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
