<nav-bar></nav-bar>
<nav-bar></nav-bar>
<div class="wishlist">
  <h2>Lista życzeń</h2>
  <div class="wishlist-items">
    <div class="wishlist-header">
      <div class="wishlist-header-name">Nazwa</div>
      <div class="wishlist-header-price">Cena</div>
      <div class="wishlist-header-availability">Dostępność</div>
      <div class="wishlist-header-actions"></div>
    </div>
    <div class="wishlist-item">
      <div class="wishlist-item-name">Example Item</div>
      <div class="wishlist-item-price">$19.99</div>
      <div class="wishlist-item-availability">In Stock</div>
      <div class="wishlist-item-actions">
        <div class="align-center-row">
          <button class="btn-wishlist">
            <i class="fa-solid fa-cart-plus icon"></i>
          </button>
          <button class="btn-wishlist btn-delete">
            <i class="fa-solid fa-trash-can icon"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- Add more wishlist items here -->
  </div>
</div>

<!--<main-button routerLink="event/detail" [text]="'Dodaj do koszyka'" [buttonClass]="'btn btn-special w-200'" [icon]="'fa-solid fa-cart-plus'">-->
