<nav-bar></nav-bar>
<div class="banner">
  <img src="https://media.npr.org/assets/img/2015/08/14/istock_000043549038_medium_wide-e825e6a2a49bc79f4d924300a48eba1cb39d21d8-s800-c85.webp" alt="Banner Image">
  <h2 class="banner-text">Muzyka</h2>
</div>
<div class="content">
  <div class="carousel">
    <h1>Popularne</h1>
    <multi-item-carousel></multi-item-carousel>
  </div>

  <div class="music-events">
    <div class="filters-outer">
      <div class="filters">
        <div class="align-center-column">
          <div class="align-center-row">
            <div class="filter">
              <div class="filter-icon"><i class="fas fa-map-marker-alt"></i></div>
              <input type="text" placeholder="City">
            </div>
            <div class="filter">
              <div class="filter-icon"><i class="fas fa-dollar-sign"></i></div>
              <input type="range" min="0" max="100" value="0">
            </div>
            <div class="filter">
              <div class="filter-icon"><i class="fas fa-calendar-alt"></i></div>
              <input type="text" placeholder="Date">
            </div>
            <div class="filter">
              <button class="tags-filter-button" (click)="toggleTagsDropdown()">
                Tags <i class="fas fa-caret-down"></i>
              </button>
            </div>
          </div>
          <div class="tags" [ngClass]="{ 'show': isTagsDropdownOpen }">
            <div class="align-center-row">
              <button class="tag-button">Tag 1</button>
              <button class="tag-button">Tag 2</button>
              <button class="tag-button">Tag 3</button>
            </div>
          </div>
        </div>
        <!--  End of filters -->
      </div>
    </div>
    <div class="sort">
      <!-- Sort options -->
    </div>
    <div class="events">
      <div class="event-card"></div>
      <div class="event-card"></div>
      <div class="event-card"></div>
      <div class="event-card"></div>
    </div>
  </div>

  <!--End of music events-->
</div>
