.content{
  padding: 25px 60px;
}
.carousel{
  padding: 0px 50px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; /* Add this line to center the element */
}

.banner {
  position: relative;
  height: 140px;
  background-color: #f2f2f2;
  overflow: hidden;
  margin-top: 70px;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7); /* Adjust the brightness value as needed */
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 20px; /* Adjust the left value as needed for desired positioning */
  transform: translateY(-50%);
  color: #fff;
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold; /* Add font-weight as needed */
}

.content h1{
  /*margin: 25px 60px;*/
  font-weight: 500;
  color: var(--third-color);
}

/* Music events */
.filters-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.music-events {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--main-background);
  flex-grow: 1; /* Allow the container to expand */
  margin: 0 20px; /* Add some horizontal margin */
  padding: 20px;
  color: white;
}

.filter {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 5px 20px;
  border: 1px solid #9e92b0;
  background-color: transparent;
  color: var(--third-color);
  border-radius: 0;
  min-width: 200px;
}

.column {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.filter-icon {
  margin-right: 5px;
}

.filter input[type="text"],
.filter input[type="range"] {
  border: none;
  background-color: transparent;
  outline: none;
}

.filter input[type="text"] {
  width: 150px;
}

.filter input[type="range"] {
  width: 100px;
}

.sort {
  /* Sort options styles */
}

.events {
  /* Event card styles */
}

/* Tags */
.tags {
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
  /*border: 1px solid #ccc;*/
  z-index: 999;
}

.tag-button {
  border: 1px solid #ccc;
  margin: 5px;
  padding: 5px 20px;
  text-align: left;
}

.show {
  display: flex;
}

.tags-filter-button {
  background-color: transparent;
  color: var(--third-color);
  border: none;
}
